
<!---->

<table>
    <tr>
        <td> <h2> Liste des produits </h2> 
            <ul class="ngProduits">
                <li *ngFor="let pdt of produits" [class.selected]="pdt===produit" (click)="choixProduit(pdt)" >
                    <span class="badge">{{pdt.id}}</span> {{pdt.designation}}
                </li>
            </ul>
        </td>
        <td>
                <div *ngIf="produit != null">
                        <h2>{{ produit.designation|uppercase }} Details</h2>
                        <div>
                          <span>id: </span>{{produit.id}}
                        </div>
                        <!--input -->
                        <div>
                            Désignation : <input type="text" [(ngModel)]="produit.designation" >
                        </div>
                        <div>
                            Catégorie : <input type="text" [(ngModel)]="produit.categorie" >
                        </div>
                        <div>
                            Prix : <input type="text" [(ngModel)]="produit.prix">
                        </div>
                </div>
        </td>
    </tr>
    

</table>

